.banner{
    background-size:cover;
    background: url("../assets/banner.jpg") center;
    color:#fff;
}

.profile-img {
    display: inline-block;
    width:200px;
    height:auto;
    border-radius: 50%;
}