#footer {
    clear: both;
    background: #fff
}

#footer.fix-bottom {
    position: fixed;
    bottom: 0;
    width: 100%
}

#footer_main {
    width: 90%;
    max-width: 1400px;
    min-width: 960px;
    margin: 0 auto;
    color: #e2e2e2;
    padding: 20px 0;
    font-size: 13px;
    line-height: 2em
}

#footer_main .col_fade a {
    vertical-align: bottom
}

#footer_main .col_fade p {
    line-height: 20px;
    vertical-align: bottom
}