body {
  background-color: #e1e1e1;
  font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti,sans-serif!important
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.breadcrumb,.pagination ul,.span-common {
  box-shadow: none
}
.breadcrumb>li {
  text-shadow: none
}

.breadcrumb a {
  color: #80bd01
}
.container {
  margin: 15px auto;
}
.row {
  margin: 15px 0;
}
.main{
  margin-top:80px;
}

.wrapper{
  margin-bottom: 20px;
  padding: 8px;
  background-color: white;
  border: 1px solid #DDD;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -khtml-border-radius: 4px;
}

.panel {
  margin-bottom: 13px
}

.panel .header {
  padding: 10px;
  background-color: #f6f6f6;
  border-radius: 3px 3px 0 0
}

.panel .inner {
  background-color: #fff;
  padding: 10px;
  border-radius: 0 0 3px 3px
}

.panel .inner.no-padding {
  padding: 0
}

.panel .inner a {
  color: #778087
}

.env{
  font-size:14px;
  color: #ff4724;
  padding-right:5px;
}

